html , body{
    margin:0;
    padding:0;
    font-size:14px;
    font-family: 'Poppins', sans-serif;

}
*{
    box-sizing: border-box;
}
body{
    color: #f3f3f3;
    background: url("../media/background-img.jpeg") #56568F;
    background-size: cover;
    background-attachment: fixed;
    background-blend-mode: soft-light;
   
    
}


/*
 HELPER STYLES START 
=================
*/

.flex{
    display: flex;   
}
.flex.align-center{
    align-items: center;
}.flex.align-start{
    align-items: flex-start;
}
.flex.justify-evenly{
    justify-content: space-evenly;
}
.flex-col{
    flex-direction: column;
}

/*
 HELPER STYLES END 
=================
*/

header{
    text-align: center;
}
h1{
    font-weight:400;
    font-size: 2.29rem;
    margin: 3.2rem 0 .2rem 0;
}
#description{
    font-weight:200;
    font-size: 1.286rem;
    font-style: italic;
    margin-top:0 ;
}
.container{

    background-color: #262646;
    opacity:.95;
    border-radius: 6px;
    margin:auto;
    width: fit-content;
    
}
form{
    padding: 2.5rem 3.2rem 3.5rem;
    font-weight:400;
    font-size:1.28rem;
    
}
.form-group{
    margin:0 0 20px;
    padding:0.29rem;
}
.select{
    margin-top: .4rem;
}
.radio{
    margin-bottom:.5rem;
}
.checkbox{
    margin-bottom:.5rem;
}
input, select{
    padding:.5rem;
    border-radius: 6px;
}
input[type="checkbox"]{
   width:20px;
   height:20px;
   margin-right: .7rem;
   
}
input[type="radio"]{
    margin-left:0;
    margin-right:.7rem;
    width:19px;
    height:19px;
   
}
input[type="text"],input[type="number"],input[type="email"] ,select{
    font-size:1.143rem;
    width:632px;
    height:38px;
}    
.age-range{
        font-size:1.03rem;
    }
        
#dropdown{
    color:#495057;
    background-color:white;
    padding:.5rem;
    font-size:1.143rem; 
    font-weight: normal;
}   

textarea{
    padding:.7rem 0 0 .5rem;
    font-size:1.143rem;
    border-radius: 6px;
    margin-top: .5rem;
}    
#submit{
    font-size:1.143rem;
    width: 632px;
    color:white;
    background-color: #37AF65;
    padding:.9rem;
    margin-bottom: 2rem;
    text-align:center;
    border-radius: 6px;
}    
